<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" href="#">
        <a class="nav-link" style="font-weight: bold;">{{title}}</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Scoreboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Rankings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Profile</a>
      </li>


    </ul>
  </div>
  <div class="nav-item me-3" *ngIf="(accountService.currentUser$ | async)">
    <button class="btn btn-outline-success"(click)="logout()">Logout</button>
  </div>
  <form #loginForm="ngForm"
        class="d-flex me-3"
        autocomplete="off"
        (ngSubmit)="login()"
        *ngIf="!(accountService.currentUser$ | async)">
    <input class="form-control me-3"
           name="username"
           type="text"
           placeholder="Username"
           [(ngModel)]="model.username" />
    <input name="password"
           class="form-control me-3"
           type="password"
           placeholder="Password"
           [(ngModel)]="model.password" />
    <button class="btn btn-outline-success" type="submit">Login</button>
  </form>
</nav>
